# Ignore Byebug command history file.
.byebug_history

!.gitkeep
!.gitignore
.powenv
.rvmrc
.pryrc
.DS_Store
.idea

/.bundle
/vendor/bundle

/log
/tmp
*.swp
*.lck
*.lock
*.log

/db/data.yml
/db/export-*

/solr
/coverage
/doc
/.yardoc

/public/*
!/public/robots.txt
!/public/vendor_assets
!/public/favicon.*

!Gemfile.lock

/config/*.yml
!/config/settings.yml
!/config/sidekiq.yml
/config/settings.local.yml
/config/settings/*.local.yml
/config/environments/*.local.yml

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
