= form_for(current_user.like_articles.build(article_id: article.id), remote: true, url: ajax_article_likes_path, html: { method: :post }) do |f|
  = f.hidden_field :article_id
  = f.submit "", class: "like-button"
