input[type="submit"].like-button
  background: none
  border: none
  background-image: url("shared/before_like.png")
  background-repeat: no-repeat
  background-position: center
  width: 100%

input[type="submit"].unlike-button
  background: none
  border: none
  background-image: url("shared/after_like.png")
  background-repeat: no-repeat
  background-position: center
  width: 100%
